.merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .merriweather-bold {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
  }
  
main, .footerrow1, .footerrow2, hr{
    max-width: 1320px;
    margin: 0 auto;
}

/* heroBanner */

.heroBanner{
    margin-top: 50px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../resources/Banner Image.png");
    background-size: cover;
    background-position: center;
    height: 600px;
    background-repeat: no-repeat;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    text-align: center;
}
.bannerHead{
    font-size: 32px;
    margin-bottom: 2px;
}
.bannerTitle{
    font-size: 72px;
    margin: 2px;
}

/*65%  off */

.off{
    text-align: center;
}
.sectionTitle{
color: #FF0000;
font-family: "Inter", sans-serif;
font-optical-sizing: auto;
font-weight: 700;
font-style: normal;
font-size: 88px;
}
.sectionSubTitle{
    color: #FF0000 ;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
}
.sectionCategory{
    color: #070211 ;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
}


/* welcomePartyBanner */

.welcomeParty{
    margin-top: 50px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../resources/Vectorrr.png");
    background-size: cover;
    background-position: center;
    height: 600px;
    background-repeat: no-repeat;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 16px;
}
.welcomePartyHead{
    font-size: 64px;
    
    margin-bottom: 5px;
}
.welcomePartyDescription{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    margin-bottom: 5px;
}
.part-btn{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    background: none;
    color: #fff;
    margin-top: 20px;
}

/* location */


.location{
    margin-top: 50px;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    background: linear-gradient(to bottom, rgba(238, 113, 113, 0.9), rgba(235, 70, 70, 0.1));
    padding: 120px;
    border-radius: 16px;
}
.textRed{
    color: #FF0000;
}

.join-btn{
    color: #fff;
    background-color: #FF0000;
    padding: 10px 20px;
    border: none;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 700;
}
/* bestOffer */

.bestOffer{
    margin: 100px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.offerTitle{
    color: #FF0000;
    font-size: 24px;
}
.offerSubTitle{
    font-size: 48px;
    color: #000;
    font-weight: 700;
}
.offerDescription{
    font-size: 20px;
    color: #070211;
}

.offerImage{
    border: 15px solid #FF0000;
    border-radius: 50%;
    padding: 20px;
}

/* holidaySales */

.holidaySales{
    text-align: center;
}
.salesSubHead{
    font-size: 24px;
}
.salesHead{
    font-size: 72px;
}
.holidayImageGroup{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.holidayImageGroup img{
    max-width: 500px;
    max-height: 400px;
}

.off50{
position: absolute;
right: 600px;
}
.rect{
    margin-top: -30px;
}

/* giftImageGroup */

.giftImageGroup {
   display: flex;
   justify-content: space-between;
   gap: 20;
   margin: 10px 0px;
}

/* newsletterDescription */

.newsletterDescription{
    font-size: 18px;
    font-weight: 400;
    color: #070211;
}

input{
    border: none;
    padding: 15px;
    border-radius: 50px 0px 0px 50px;
    font-size: 18px;
} 

.subscribe-btn{
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    background-color: #FF0000;
    border: none;
    padding: 15px;
    border-radius: 0px 50px 50px 0px;
    margin-left: -20px;
}

/* footer */

footer{
    background-color: #070211;

}
.address{
    font-weight: 400;
}
.contact-grp{
    display: flex;
    align-items: center;
    gap: 10px;
}
.footerrow1{
    margin-top: 30px;
    color: #fff;
    display: flex;
    justify-content: space-between;
}
.footerrow2{
    text-align: center;
    padding: 10px;
}